.container-head{
    display: flex;
    flex-direction: row;
    background-color: #F55A5A;
    justify-content: center;
    height: 55px;
    gap:7px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.logo{
    height: 24px;
    align-self: center;
}

.logo-text{
    align-self: center;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
}