.App{
  display:flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #F5F7FB;
}

.container{
  max-width: 550px;
  max-height: 704px;
}

.container-app{
  min-width: 550px;
  min-height: 704px;
}

.container-destinations{
  padding:36px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:36px;
  background-color: #FFFFFF;
}

